In [ ]:
c = -30
x = lambda a : a**2 if a<0  + 10 else a**(1/2)
x(5)

In [ ]:
name = 'John Thomas'
l = list(name)
(lambda name:name[::-1])(l)

In [ ]:
numbers = [3, 4, 5, 6]
for i in numbers:
  print(i, ':', (lambda x: 'odd' if x%2 else 'éven')(i))

In [ ]:
(lambda x, y, z: x + y + z)(1, 3, 5)

In [ ]:
finder = lambda x: 'odd' if x%2 else 'éven'
finder(2)

In [ ]:
words = [ 'John', 'Martin', 'Daan']
ln = map(list, words)
print(list(ln))

In [ ]:
iter = [1, 2, 3, 4, 5, 6]
res = lambda x : x**(1/2)
result = map(res, iter)
print(list(result))

In [ ]:
iter = [1, 2, 3, 4, 5, 6]
def sqr(x):
    res = x**2
    return res

result = map(sqr, iter)
print(*result)

In [ ]:
a, b, c = 'ostt', 'niew', 'exno'
a_list, b_list, c_list = list(a), list(b), list(c)
numbers = map(lambda x, y, z : x + y + z, a_list, b_list, c_list) 
print(list(numbers))

In [ ]:
a, b, c = 'ostt', 'niew', 'exno'
numbers = map(lambda x, y, z : x + y + z, a, b, c) 
print(list(numbers))

In [ ]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]
num = map(lambda a, b : (a + b) / 2, num1, num2)
print(list(num))

In [ ]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

In [ ]:
w1 = ["you", "much", "hard"]
w2 = ["i", "you", "he"]
w3 = ["love", "ate", "works"]

result = map(lambda x1, x2, x3 : x2 + " " + x3 + " " + x1,  w1,  w2,  w3)
print(list(result))

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def check_even(number):
    if number % 2 == 0:
          return True  
    return False
check_odd = filter(lambda x : not x%2 == 0, numbers)
even_numbers_iterator = filter(check_even, numbers)
even_numbers = list(even_numbers_iterator)
print(list(check_odd),  even_numbers)

In [94]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
res = filter(lambda w : len(w) < 5 , words)
print(*res, sep = "\n")

swim
me
kiwi

In [100]:
ltr1 = ["a", "b", "c"]
ltr2 = ["x", "y", "z"]
concat = map(zip, ltr1, ltr2)
concat = list(concat)
for i in concat:
    for j in i:
      print(j)

('a', 'x')
('b', 'y')
('c', 'z')